@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
}

.forms-search {
    padding: 20px;
    background: white;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
}

button {
    margin-top: 8px !important;
} 

.text-prin {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 12px;
    text-transform: uppercase;
    margin-top: 30px;
}

.list-apis {
    padding: 20px;
    background: white;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
}

.headers-class {
    margin-top: 12px;
}

